<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<a href="/" class="logo">Logo</a> 
			</div>
			<div class="col-md-6">
				<ul class="bottom-menu">
					<li>
						<a href="/about">ABOUT</a>
					</li>
					<li>
						<a href="/team">TEAM</a>
					</li>
					<li>
						<a href="/contact">CONTACT</a>
					</li>
					<li>
						<a href="/discover-companies">DISCOVER COMPANIES</a>
					</li>
					<li>
						<a href="/how-it-works">HOW IT WORKS</a>
					</li>
				</ul>
			</div>
			<div class="col-md-3">
				<div class="social-links">
					<a><i class="fa fa-facebook"></i></a>
					<a><i class="fa fa-twitter"></i></a>
					<a><i class="fa fa-google-plus"></i></a>
					<a><i class="fa fa-github-alt"></i></a>
				</div>	
			</div>
		</div>
		<div class="row clearfix copyright">	
			<div class="col-lg-6">
				<p>Founded in 2016, our teem makes the world more open and 
	connected. People use Facebook to stay connected with friends and family, to 
	discover what’s going on in the world, and to share and express what matters to 
	them.</p>
			</div>
			<div class="col-lg-6">
				<p class="company-reserved">All Right Reserved, 2016</p>
			</div>
		</div>
	</div>
</div>