$color__white:			#ffffff;
$color__black:			#000000;
$color__gray:			#989898;
$color__graybg:			#f9f9f9;
$color__dark_gray:		#313131;
$color__light_gray: 	#e7e7e7;
$color__border_gray:	#d8d8d8;
$color__dark_blue:		#202020;
$color__blue:			#479ae0;
$color__green:			#40cc7b;
$color__purple:			#a4a4a4;
$color__light_green:	#74e8b2;
$color__dark_green:		#40ccbf;
$color__grayeb:			#ebebeb;
$color__gray97:			#979797;
$color__gray77:			#777777;
$color__grayda:			#dadada;
$color__gray52:			#525252;
$color__gray53:			#535353;
$color__grayc5:			#c5c5c5;
$color__gray7c:			#7c7c7c;
$color__grayed:			#ededed;
$color__grayd7:			#d7d7d7;
$color__gray54:			#545454;
$color__graybe:			#bebebe;
$color__black14:		#141414;
$color__blue_link:		#3a93de;
