@mixin border-radius($size) {
	border-radius: $size;
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
}

@mixin background-size($size) {
	-webkit-background-size: $size;
    -moz-background-size: $size;
    background-size: $size;
}