<div class="landing-page">
	<div class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Register your company on our platform <br/>and work with other companies <br/>around the world</h1>
                        <button class="btn btn-info btn-lg get-started" ng-click="getStarted()">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<section class="steps-container gray-bg">		
		<div class="container">
			<h2>Few Steps to Interact With <br/>Other Companies</h2>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h4>Register your company's account on our platform</h4>
					<p>Thank you for your app. We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, abuse, or libel. We reserve the right to remove any comments that constitute harassment. Thank you for your app.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h4>Add to friends companies that want to cooperate.</h4>
					<p>Thank you for your app. We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, abuse, or libel.</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h4>Manage conversations and members in them.</h4>
					<p>Thank you for your app. We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, abuse, or libel. We reserve the right to remove any comments.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="company-container">
		<div class="container">
			<h2>What Companies Are Saying</h2>
			<div class="row">
				<div class="col-lg-12">
					<ul class="company-logos">
					</ul>
				</div>				
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
					<h3 class="text-center">Thank you for your app. We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, abuse, or libel. We reserve the right to remove any comments that constitute harassment</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 company-seo">
					<img class="user-avatar" alt="Brad Tornton" src="assets/images/avatar.png" />
					<p class="user-name">Brad Tornton</p>
					<p class="user-level">Lead Designer from Origami</p>
				</div>
			</div>
		</div>
	</section>

	<section class="team-container gray-bg">
		<div class="container">
			<h2>Our Team</h2>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="team-member">
						<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" src="assets/images/avatar.png" />
							<div class="user-data">
								<h3 class="user-name">Nikolay Sergeev</h3>
								<span class="user-level">UI Designer</span>
							</div>
						</div>
						<div class="desc">
							<p>We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech.</p>
						</div>
					</div>				
					<div class="team-member">
						<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" src="assets/images/avatar.png" />
							<div class="user-data">
								<h3 class="user-name">Nikolay Sergeev</h3>
								<span class="user-level">UI Designer</span>
							</div>
						</div>
						<div class="desc">
							<p>We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, remove any comments that constitute harassment, hate speech.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="team-member">
						<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" src="assets/images/avatar.png" />
							<div class="user-data">
								<h3 class="user-name">Nikolay Sergeev</h3>
								<span class="user-level">UI Designer</span>
							</div>
						</div>
						<div class="desc">
							<p>We welcome conversation and reserve the right to remove any hate speech.</p>
						</div>
					</div>				
					<div class="team-member">
						<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" src="assets/images/avatar.png" />
							<div class="user-data">
								<h3 class="user-name">Nikolay Sergeev</h3>
								<span class="user-level">UI Designer</span>
							</div>
						</div>
						<div class="desc">
							<p>We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="team-member">
						<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" src="assets/images/avatar.png" />
							<div class="user-data">
								<h3 class="user-name">Nikolay Sergeev</h3>
								<span class="user-level">UI Designer</span>
							</div>
						</div>
						<div class="desc">
							<p>We welcome conversation and reserve the right to remove any comments that constitute harassment, hate speech, remove any comments.</p>
						</div>
					</div>				
					<div class="team-member">
						<a href="javascript:void(0)" class="twitter-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<div class="user-info">
							<img class="user-avatar" alt="Nikolay Sergeev" src="assets/images/avatar.png" />
							<div class="user-data">
								<h3 class="user-name">Nikolay Sergeev</h3>
								<span class="user-level">UI Designer</span>
							</div>
						</div>
						<div class="desc">
							<p>We welcome conversation and reserve the right to remove onversation and reserveany hate speech.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="intro bottom">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Get Started Work With Us</h1>
                        <button class="btn btn-info btn-lg get-started" ng-click="getStarted()">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>